<!DOCTYPE html>
<html>
    <head>
        <title>Word2Vec</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pyplot.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
<body>
    

    <center>
    <img class="m-5" src="{{url_for('static', filename='logo.png')}}" />
    <h1 class="m-3">Compare</h1>
    <div class="row">
        <div class="col-sm-3 col-centered">
            <form method="post">
                <div class="form-group">
                    <label>Compare two words: </label><br>
                    <input class="form-control m-2" placeholder="Word 1" type="text" name="arg1" required>
                    <input class="form-control m-2" placeholder="Word 2" type="text" name="arg2" required>
                    <p><input type="submit"></p>  
                </div> 
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-centered">
            {% if gera["similarity"] == 1 and gera["keyerror"] != 1:%}
                <div id="myDiv"></div>
            {% endif %}
            {% if gera["keyerror"] == 1:%}
                <div>{{e}}</div>
            {% endif %}
        </div>
    </div>
</center>
<a class="btn btn-dark m-5" href="/">Back</a>
    
</body>
<script>
{% if gera["similarity"] == 1 and gera["keyerror"] != 1%}


// valor que a seta vai apontar
var level = {{ comparacao }}*100;

// Trig to calc meter point
var degrees = 100 - level,
radius = .5;
var radians = degrees * Math.PI / 100;
var x = radius * Math.cos(radians);
var y = radius * Math.sin(radians);

// Path: may have to change to create a better triangle
var mainPath = 'M -.0 -0.025 L .0 0.025 L ',
     pathX = String(x),
     space = ' ',
     pathY = String(y),
     pathEnd = ' Z';
var path = mainPath.concat(pathX,space,pathY,pathEnd);

var data = [{ type: 'scatter',
   x: [0], y:[0],
    marker: {size: 28, color:'850000'},
    showlegend: false,
    name: 'similarities',
    text: level,
    hoverinfo: 'text+name'},
  { values: [20, 20, 20, 20,20,100],
  rotation: 90,
  text: ['Very similar!', 'Similar', 'Something in common', 'Little similar', 'Nothing in common!'],
  textinfo: 'text',
  textposition:'inside',
  marker: {colors:['rgba(14, 127, 0, .5)', 'rgba(110, 154, 22, .5)',
                         'rgba(170, 202, 42, .5)', 'rgba(202, 209, 95, .5)',
                         'rgba(210, 206, 145, .5)', 'rgba(232, 226, 202, .5)',
                         'rgba(255, 255, 255, 0)']},
  labels: ['80-100', '60-80', '40-60', '20-40', '0-20', '-'],
  hoverinfo: 'label',
  hole: .5,
  type: 'pie',
  showlegend: false
}];

var layout = {
  shapes:[{
      type: 'path',
      path: path,
      fillcolor: '850000',
      line: {
        color: '850000'
      }
    }],
  title: 'Similarity of {{arg1}} and {{arg2}}: {{ comparacao*100 }}%',
  height: 1000,
  width: 1000,
  xaxis: {zeroline:false, showticklabels:false,
             showgrid: false, range: [-1, 1]},
  yaxis: {zeroline:false, showticklabels:false,
             showgrid: false, range: [-1, 1]}
};

Plotly.newPlot('myDiv', data, layout);
{% endif %}
</script>
</html>
