{% extends 'base.html' %}
{% block title %}Word2Vec{% endblock %}
{% block content %}
<h1 class="m-3">Similarity List</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-centered">
            <form class="" method="post">
                <div class="form-group">
                    <label>Word: </label>
                    <input class="form-control" type="text" name="arg1" placeholder="Word" required><br>
                    <label>How many words on the output? </label>
                    <input class="form-control" type="number" name="arg2" placeholder="How many?" required
                        value="10"><br>
                    <p><input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-centered">
            {% if gera["lista"] == 1 and gera["keyerror"] != 1:%}
            <h3> Top {{arg2}} most similar to {{arg1}}: </h3>
            <table class="table table-striped table-dark">
                <thead>
                    <th>Rank</th>
                    <th>Word</th>
                    <th>Percentage (%)</th>
                </thead>
                <tbody>
                    {% for item in lista %}
                    <tr>
                        <td>{{lista.index(item) + 1}}º</td>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]*100}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if gera["keyerror"] == 1:%}
            <div>{{e}}</div>
            {% endif %}
        </div>
    </div>
</div>
<a class="btn btn-dark m-5" href="/">Back</a>
{% endblock %}